asgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.14
django-crispy-forms==2.3
dotenv==0.9.9
gunicorn==20.0.4
numpy==2.2.3
pandas==2.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
whitenoise==6.9.0
