{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'learning_app/my_css.css' %}">
        <meta charset="utf-8">
    </head>

    <body>
        <div class="empty_header_new_pile"><div class="header_text">Create new pile</div></div>
        <div class="create_pile_form"> 
            <div class="create_pile_left"></div>
            <div class="create_pile_middle">
                <form action="{% url 'create_new_pile' user_id=user_id %}" method="POST" enctype="multipart/form-data" name="CreateNewPileFromOurPiles">
                    {% csrf_token %}
                    <label for="{{ form.pile_name.id_for_label }}"></label> {{ form.pile_name }}
                    <br>
                    <label for="{{ form.new_cards_per_day.id_for_label }}"></label> {{ form.new_cards_per_day }}
                <br>
                        <label for="{{ form.file_name.id_for_label }}"></label> {{ form.file_name }}
                    <br>
                    <div class="input_button_new_pile">
                        <input type="submit" value="submit"/>
                    </div>
                </form>
            </div>
            <div class="create_pile_right"></div>
        </div>
        <div class="empty_footer_new_pile">
            <br>
            <div class="sign_button"><a href="{% url 'choose' user_id=user_id%}">Go back</a></div>
            </div>
        </div>
    </body>
    </html>



