{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/my_css.css' %}">
<meta charset="utf-8">
<title>Pierwsza strona</title>

<script>
    function ChangeButtonsToA() { 
                    element_q = document.querySelector('.buttons_row_inside_Q'); 
                    element_q.style.display = 'none'; 
                    element_a = document.querySelector('.buttons_row_inside_A'); 
                    element_a.style.display = 'table-cell'; 
                    element_ans = document.querySelector('.foreign_language_inside'); 
                    element_ans.style.display = 'table-cell'; 
                }
</script>

</head>
<body>
    <div class="my_language"><div class="my_language_inside">
        {{one_card_object.first_lng}}   ({{one_user_object.new_left_today}})
    </div></div>
    <div class="foreign_language"><div class="foreign_language_inside" style="display:none;">     
        {{one_card_object.second_lng}} 
        </div>
    </div>
    <div class="buttons_row_inside_Q">
        <button class="button button_normal" onclick="ChangeButtonsToA()" id=test>Show Answer</button>
        </div>
        <div class="buttons_row_inside_A" style="display:none;">
            <a href="{% url 'learn' previous_id=one_card_object.card_id previous_ans='E'%}">
                <button class="button button_easy">Easy</button>
            </a>
            <button class="button button_normal">Medium</button>
            <button class="button button_normal">Hard</button>
            <button class="button button_wrong">Wrong</button>
        </div>
</body>
</html>