<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8">
<title>Pierwsza strona</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'learning_app/my_css.css' %}">
</head>
<body>
    <div class="foreign_language">I am learning now</div>
    <div class="buttons_row_inside">
        <button class="button button_easy">Easy</button>
        <button class="button button_normal">Medium</button>
        <button class="button button_normal">Hard</button>
        <button class="button button_wrong">Wrong</button>
    </div>
</body>
</html>