{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
<link rel="stylesheet" type="text/css" href="{% static 'learning_app/my_css.css' %}">
<meta charset="utf-8">
<title>Pierwsza strona</title>

<script>
    function ChangeButtonsToA() { 
                    element_q = document.querySelector('.buttons_row_inside_Q'); 
                    element_q.style.display = 'none'; 
                    element_a = document.querySelector('.buttons_row_inside_A'); 
                    element_a.style.display = 'table-cell'; 
                    element_ans = document.querySelector('.foreign_language_inside'); 
                    element_ans.style.display = 'table-cell'; 
                }
</script>

</head>
<body>
    <div class="my_language">
        <div class="my_language_inside_left"></div>
        <div class="my_language_inside">{{one_card_object.first_lng}}   </div>
        <div class="my_language_inside_right">
        <div class="new_count">{{one_user_object.new_left_today}}</div>
        <div class="normal_count">{{one_user_object.normal_left_today}}</div>
        <div class="wrong_count">{{one_user_object.wrong_left_today}}</div>
    </div></div>
    <div class="foreign_language"><div class="foreign_language_inside" style="display:none;">     
        {{one_card_object.second_lng}} 
        </div>
    </div>
    <div class="buttons_row">
    <div class="buttons_row_inside">
    <div class="buttons_row_inside_Q">
        <button class="button button_normal" onclick="ChangeButtonsToA()" id=test>Show Answer</button>
        </div>
        <div class="buttons_row_inside_A" style="display:none;">
            {% if one_user_object.new_left_today==0 and one_user_object.normal_left_today==0 and one_user_object.wrong_left_today==1 %}
            <a href="{% url 'end' %}"><button class="button button_easy">Easy</button></a>
            {% else %}
            <a href="{% url 'learn' pile_id=pile_id previous_id=one_card_object.card_id previous_ans='E'%}"><button class="button button_easy">Easy</button></a>
            {% endif %}
            <a href="{% url 'learn' pile_id=pile_id previous_id=one_card_object.card_id previous_ans='M'%}"><button class="button button_normal">Medium</button></a>
            <a href="{% url 'learn' pile_id=pile_id previous_id=one_card_object.card_id previous_ans='H'%}"><button class="button button_normal">Hard</button></a>
            <a href="{% url 'learn' pile_id=pile_id previous_id=one_card_object.card_id previous_ans='W'%}"><button class="button button_wrong">Wrong</button></a>
        </div>
    </div>
    </div>
</body>
</html>