<html>
<body>
    <form action="/user_created/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <label for="your_mail">Mail: </label>
        <input id="your_mail" type="text" name="your_mail" value="">
        <br>
        <label for="your_login">Login: </label>
        <input id="your_login" type="text" name="your_login" value="">
        <br>
        <label for="your_pass">Password: </label>
        <input id="your_pass" type="text" name="your_pass" value="">
        <br>
        <input type="submit" value="OK">
    </form>
</body>
</html>