{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'learning_app/my_css.css' %}">
        <meta charset="utf-8">
    </head>
<body>
    <div class="empty_header_start">
        <div class="empty_header_start_subheader">
            <a href="{% url 'increase' user_id=user_id pile_id=our_pile_id  %}">Increase number of new cards for today learning</a>
        </div>
        <div class="empty_header_start_subheader">
            <a href="{% url 'edit_pile' user_id=user_id pile_id=our_pile_id %}">Edit this pile</a>
        </div>
        <div class="empty_header_start_subheader">
            <a href="{% url 'add_card' user_id=user_id pile_id=our_pile_id  %}">Add a card to this pile</a>
        </div>
        <div class="empty_header_start_subheader">
            <a href="{% url 'choose' user_id=user_id %}">Go back</a>
        </div>
    </div>
    <div class="empty_header_start">
        <div class="pile_name">{{pile_name}}</div>
    </div>
    <div class="empty_header_start">
        <div class="sign_button"><a href="{% url 'learn' user_id=user_id pile_id=our_pile_id previous_id=0 previous_ans='X' %}">Start learning</a></div>
    </div>
    <div class="start_tables">
        <div class="start_left_right">
            <table style="width:100%">
                <tr>
                    <td>Cards in a pile</td>
                    <td>{{count_all}}</td>
                </tr>
                <tr>
                    <td>New cards left to learn</td>
                    <td>{{count_new}}</td>
                </tr>
                <tr>
                    <td>Cards learned</td>
                    <td>{{count_norm}}</td>
                </tr>
                <tr>
                    <td>Cards with last answer "wrong"</td>
                    <td>{{count_wrong}}</td>
                </tr>
            </table>
        </div>
        <div class="start_left_right">
            <table style="width:100%">
                <tr>
                    <td>Left for today:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>New cards left</td>
                    <td>{{today_count_new}}</td>
                </tr>
                <tr>
                    <td>Other cards left</td>
                    <td>{{today_count_norm}}</td>
                </tr>
                <tr>
                    <td>Wrong cards left</td>
                    <td>{{count_wrong}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="empty_footer_start"></div>
</body>
</html>
